body {
  text-align: left;
  font:12px arial,helvetica,verdana,sans-serif;
  color: #444
}

h1,h2,h3 { margin:0; color: #111 }
h1.lmenu { float: right }

h1, h3 { text-align: right; }

ul li { list-style-image: url(img/li.gif); }

textarea, input[type=text] {
	background-color: #ddd;
	border: solid 1px #ccc;
	height: 20px;
	width: 220px;
  border-radius: 4px; -moz-border-radius: 4px;
}

input[type=submit], button {
  background-color:#555;
  border:2px solid #333;
  color:#ffc;
  text-transform:capitalize;
  font-weight:bold;
  margin: 0 9px;
  padding:1px 7px;
  border-radius: 4px; -moz-border-radius: 4px;
}

a { color:#061; }
a:visited { color:#394; }
a img { border: none }

.feed {
  background-image: url(img/atom.gif);
  color: transparent !important;
  text-decoration: none;
  width: 80px;
  height: 20px;
  float: right;
  margin: 2px
}

#wrapper {
  margin:10px auto;
  width:930px;
}

#header {
  border-bottom:2px solid #999;
  margin-bottom:5px;
  padding-bottom:5px;
}

#leftCol {
  width: 600px;
  float: left
}

#rightCol { 
  width: 320px;
  float: left
}

#rightCol .controls { 
  margin: 2px 0 10px 10px;
}
#rightCol .controls a { margin: 0 6px }

#console, #output {
  width: 48%;
  float: left    
}
/*
#console h2, #output h2 {
  color:#ffe;
  left:44%;
  margin:5px;
  position:absolute;
  z-index:2;
} */
#console { margin-right:20px; }

#console textarea, #output textarea {
  font-family: monospace;
  font-weight: bold;
  height: 330px;
  width:100%;
  background-color:#222;
  border: solid 2px #666;
	color: #0d1;
	padding: 3px
}

#console .actions, #footer {
  margin: 8px 0; 
  color:#555555;
  font-size:smaller;
  font-weight:bold;
}
#console .actions input { font-size:larger; } 

#console .actions .note { font-style: italic }

#output textarea.error { 
  background-color:#fdd;
  color:#300;
}

#moreItems, #footer, #comments {
	clear: both
}

#recentScripts, #tagCloud, #otherLinks {
	padding: 4px;
	background-color: #ddd;
	border: solid 2px #ccc;
  float: left;
	width: 300px;
	margin-bottom: 5px
}

#otherLinks a { display:block }

#recentScripts { width: 500px }
#tagCloud, #otherLinks { margin-left: 10px }
#tagCloud span { white-space: nowrap; }

#shareDialog { width: 350px }
.bd .row input {
	float: right; 
	margin: 0 0 0 20px;
}

#reportDialog, #commentDialog { width: 430px }

#reportDialog textarea, #commentDialog textarea {
  height:170px;
  width:100%;
}

#header .menu a { margin: 6px }

#header .busy {
  background: url("/static/img/spinner.gif") no-repeat scroll 0 0 transparent;
  width: 32px;
  height: 32px;
  float: left; 
  position: absolute
}

.comment {
  background-color:#eee;
  margin:10px 0;
  padding:5px 10px;
}

.comment .hd {
  margin: 0 0 4px 0;  
}
.comment .hd .title { font-weight: bold }
.comment .hd .sub { float: right; font-size:11px }
.comment .hd .sub .author { font-weight: bold; margin-right: 8px }

.bd .row {
  height:22px;
  margin:5px 0;  
}

.first { margin-left: 0 !important } 
.hidden { display:none }