body {
  text-align: left
}

h1 { 
  text-align: right;
  margin:0 
}

h2 { margin: 0 }

#console, #output {
  width: 48%;
  float: left    
}
#console { margin-right:20px; }

#console textarea, #output textarea {
  font-family: monospace;
  height: 330px;
  width:100%;
}

#output textarea.error { 
  background-color:#fdd;
  color:#300;
}

#recentScripts, #footer {
  clear: both
}

#header .busy {
  background: url("/static/img/spinner.gif") no-repeat scroll 0 0 transparent;
  width: 32px;
  height: 32px;
  float: left; 
  position: absolute
}