<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    
  <display-name>${project.name}</display-name>
	<description>${project.description}</description>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<servlet>
	  <servlet-name>root</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.RootServlet</servlet-class>
	  <init-param>
	    <param-name>debug</param-name>
	    <param-value>${debug}</param-value>
	  </init-param>
	  <init-param>
	    <param-name>baseURL</param-name>
	    <param-value>${project.url}</param-value>
	  </init-param>
	  <load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
	  <servlet-name>console</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.ConsoleServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>script</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.ScriptServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>comment</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.CommentServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>tag</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.TagServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>atom</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.AtomServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>sitemap</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.SitemapServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>report</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.ReportServlet</servlet-class>
	  <init-param>
	    <param-name>adminEmail</param-name>
	    <param-value>${adminEmail}</param-value>
	  </init-param>
  </servlet>
  <servlet>
  	<servlet-name>ping</servlet-name>
  	<servlet-class>org.thomnichols.pythonwebconsole.SitemapPingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>atomComments</servlet-name>
  	<servlet-class>org.thomnichols.pythonwebconsole.AtomCommentServlet</servlet-class>
  </servlet>
  
	<servlet-mapping>
    <servlet-name>root</servlet-name>
    <url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>console</servlet-name>
    <url-pattern>/console/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>atomComments</servlet-name>
    <url-pattern>/script/atom.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>script</servlet-name>
    <url-pattern>/script/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>comment</servlet-name>
    <url-pattern>/comment/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>tag</servlet-name>
    <url-pattern>/tag/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>atom</servlet-name>
    <url-pattern>/atom.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>sitemap</servlet-name>
    <url-pattern>/sitemap.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/report</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>ping</servlet-name>
    <url-pattern>/tasks/ping</url-pattern>
	</servlet-mapping>
	
  <context-param>
    <param-name>yui_version</param-name>
    <param-value>${yui_version}</param-value>
  </context-param>
  <context-param>
    <param-name>recaptchaPublicKey</param-name>
    <param-value>${recaptchaPublicKey}</param-value>
  </context-param>
  <context-param>
    <param-name>recaptchaPrivateKey</param-name>
    <param-value>${recaptchaPrivateKey}</param-value>
  </context-param>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>		
		</jsp-property-group>
	</jsp-config>
	
  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>
  
  <taglib>
		<taglib-uri>http://thomnichols.org/jsp/suckless</taglib-uri>
		<taglib-location>/WEB-INF/suckless.tld</taglib-location>
	</taglib>
	
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
  <error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	
	<!-- AppStats Configuration http://code.google.com/appengine/docs/java/tools/appstats.html -->
	<filter>
		<filter-name>appstats</filter-name>
		<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
		<init-param>
			<param-name>logMessage</param-name>
			<param-value>Appstats available: /appstats/details?time={ID}</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>appstats</filter-name>
		<url-pattern>/dummy</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>appstats</servlet-name>
		<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appstats</servlet-name>
		<url-pattern>/appstats/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/appstats/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>