<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    
  <display-name>${project.name}</display-name>
	<description>${project.description}</description>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<servlet>
	  <servlet-name>root</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.RootServlet</servlet-class>
	  <init-param>
	    <param-name>debug</param-name>
	    <param-value>${debug}</param-value>
	  </init-param>
	  <init-param>
	    <param-name>yui_version</param-name>
	    <param-value>${yui_version}</param-value>
	  </init-param>
	  <init-param>
	    <param-name>baseURL</param-name>
	    <param-value>${baseURL}</param-value>
	  </init-param>
	  <load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
	  <servlet-name>console</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.ConsoleServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>script</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.ScriptServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>tag</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.TagServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>atom</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.AtomServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>sitemap</servlet-name>
	  <servlet-class>org.thomnichols.pythonwebconsole.SitemapServlet</servlet-class>
  </servlet>
  
	<!-- TODO catch-all that redirects to 404 page. -->
	<servlet-mapping>
    <servlet-name>root</servlet-name>
    <url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>console</servlet-name>
    <url-pattern>/exec</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>script</servlet-name>
    <url-pattern>/script/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>tag</servlet-name>
    <url-pattern>/tag/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>atom</servlet-name>
    <url-pattern>/atom.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>sitemap</servlet-name>
    <url-pattern>/sitemap.xml</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>application/xhtml+xml; charset=UTF-8</page-encoding>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>		
		</jsp-property-group>
	</jsp-config>
	
<!-- 	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    
	<servlet>
	  <servlet-name>dwr</servlet-name>
	  <servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
	  <init-param>
	    <param-name>debug</param-name>
	    <param-value>${debug}</param-value>
	  </init-param>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>WARN</param-value>
		</init-param> 
	</servlet>
	<servlet-mapping>
	    <servlet-name>dwr</servlet-name>
	    <url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/beans.xml</param-value>
  </context-param>
   -->
</web-app>